<a href="https://colab.research.google.com/github/PatWoo23/CreditRiskAnalysis_Project/blob/main/XGBoostModel/2_ProcessingforML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from copy import deepcopy

# Machine Learning related libraries
# For lable encoding
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split, RandomizedSearchCV
# Importing libraries for evaluation metrics
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.metrics import f1_score, precision_score, recall_score, accuracy_score, roc_auc_score
# Importing libraries for graphs
from sklearn.metrics import precision_recall_curve, roc_curve

# Importing Logistic Regression, and Random Forest from sklearn
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
# Importing XGBoost
from xgboost import XGBClassifier

# Importing libraries for SHAP
import shap

In [ ]:
# Import excel. First column as index. First row as header.
df0 = pd.read_excel("/content/drive/MyDrive/MIS561/1208_ML0.xlsx", index_col=0, header=0)
pd.set_option('display.max_columns', None)
# Make a deep copy of df0 to df
df = df0.copy(deep=True)
print(df.shape)
print(df.columns)

(36116, 19)
Index(['CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'NUM_CHILDREN',
       'AMT_INCOME_TOTAL', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE',
       'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'Age', 'NUM_FAMILY_MEMBERS',
       'Employment Years', 'Average Status in Initial Phase',
       'Average Status in Current Phase', 'Risky Customers',
       'Client Classification', 'FLAG_WORK_PHONE', 'FLAG_PHONE', 'FLAG_EMAIL'],
      dtype='object')

In [ ]:
print(df.head())

         CODE_GENDER  FLAG_OWN_CAR  FLAG_OWN_REALTY  NUM_CHILDREN  \
ID
5026168            1             1                1             0
5035920            0             1                1             1
5041710            1             1                1             3
5045517            1             1                0             1
5095015            0             0                1             0

         AMT_INCOME_TOTAL      NAME_INCOME_TYPE  \
ID
5026168          225000.0             Pensioner
5035920          180000.0  Commercial associate
5041710          180000.0               Working
5045517          180000.0               Working
5095015          225000.0  Commercial associate

                   NAME_EDUCATION_TYPE NAME_FAMILY_STATUS  NAME_HOUSING_TYPE  \
ID
5026168               Higher education            Married  House / apartment
5035920              Incomplete higher            Married  House / apartment
5041710  Secondary / secondary special            Married  House / apartment
5045517  Secondary / secondary special            Married  House / apartment
5095015  Secondary / secondary special            Married  House / apartment

         Age  NUM_FAMILY_MEMBERS  Employment Years  \
ID
5026168   66                   2               6.7
5035920   42                   3               1.9
5041710   39                   5               2.3
5045517   32                   3              12.3
5095015   36                   2               1.8

         Average Status in Initial Phase  Average Status in Current Phase  \
ID
5026168                              0.0                              0.0
5035920                              0.0                              0.0
5041710                              0.0                              0.0
5045517                              0.0                              0.0
5095015                              0.0                              0.0

         Risky Customers  Client Classification  FLAG_WORK_PHONE  FLAG_PHONE  \
ID
5026168                0                      0                0           0
5035920                0                      0                0           0
5041710                0                      0                1           1
5045517                0                      0                0           0
5095015                0                      0                0           0

         FLAG_EMAIL
ID
5026168           0
5035920           0
5041710           0
5045517           0
5095015           0

In [ ]:
# Display the unqiue values of categorical variables
unique_values = {
    'NAME_INCOME_TYPE': df['NAME_INCOME_TYPE'].unique(),
    'NAME_EDUCATION_TYPE': df['NAME_EDUCATION_TYPE'].unique(),
    'NAME_FAMILY_STATUS': df['NAME_FAMILY_STATUS'].unique(),
    'NAME_HOUSING_TYPE': df['NAME_HOUSING_TYPE'].unique()
}

for column, values in unique_values.items():
    print(f"Unique values in '{column}':")
    print(values)
    print('-' * 50)  # Separator for better readability

Unique values in 'NAME_INCOME_TYPE':
['Pensioner' 'Commercial associate' 'Working' 'State servant' 'Student']
--------------------------------------------------
Unique values in 'NAME_EDUCATION_TYPE':
['Higher education' 'Incomplete higher' 'Secondary / secondary special'
 'Lower secondary' 'Academic degree']
--------------------------------------------------
Unique values in 'NAME_FAMILY_STATUS':
['Married' 'Separated' 'Widow' 'Single / not married']
--------------------------------------------------
Unique values in 'NAME_HOUSING_TYPE':
['House / apartment' 'Rented apartment' 'Municipal apartment'
 'With parents' 'Office apartment' 'Co-op apartment']
--------------------------------------------------

# Transform categorical data into integer.

Do not use get_dummies on GoogleColab because it gives "True" or "False" instead of 1 or 0.

In [ ]:
# Initialize the LabelEncoder
label_encoder = LabelEncoder()

# Fit and transform the 'NAME_INCOME_TYPE' column and save it to 'NEW_INCOME_TYPE'
df['NEW_INCOME_TYPE'] = label_encoder.fit_transform(df['NAME_INCOME_TYPE'])

# Display the mapping of categories to integers
print("Label Mapping for NAME_INCOME_TYPE:")
label_mapping = dict(zip(label_encoder.classes_, range(len(label_encoder.classes_))))
print(label_mapping)

print("\nOriginal Column Values and Corresponding Encoded Values:")
print(df[['NAME_INCOME_TYPE', 'NEW_INCOME_TYPE']].drop_duplicates())

Label Mapping for NAME_INCOME_TYPE:
{'Commercial associate': 0, 'Pensioner': 1, 'State servant': 2, 'Student': 3, 'Working': 4}

Original Column Values and Corresponding Encoded Values:
             NAME_INCOME_TYPE  NEW_INCOME_TYPE
ID
5026168             Pensioner                1
5035920  Commercial associate                0
5041710               Working                4
5009210         State servant                2
5010457               Student                3

In [ ]:
# Similarly, transform 'NAME_EDUCATION_TYPE'
label_encoder = LabelEncoder()
df['NEW_EDUCATION_TYPE'] = label_encoder.fit_transform(df['NAME_EDUCATION_TYPE'])

print("Label Mapping for NAME_EDUCATION_TYPE:")
label_mapping = dict(zip(label_encoder.classes_, range(len(label_encoder.classes_))))
print(label_mapping)

print("\nOriginal Column Values and Corresponding Encoded Values:")
print(df[['NAME_EDUCATION_TYPE', 'NEW_EDUCATION_TYPE']].drop_duplicates())

Label Mapping for NAME_EDUCATION_TYPE:
{'Academic degree': 0, 'Higher education': 1, 'Incomplete higher': 2, 'Lower secondary': 3, 'Secondary / secondary special': 4}

Original Column Values and Corresponding Encoded Values:
                   NAME_EDUCATION_TYPE  NEW_EDUCATION_TYPE
ID
5026168               Higher education                   1
5035920              Incomplete higher                   2
5041710  Secondary / secondary special                   4
5025820                Lower secondary                   3
5011033                Academic degree                   0

In [ ]:
# Similarly, transform 'NAME_FAMILY_STATUS'
label_encoder = LabelEncoder()
df['NEW_FAMILY_STATUS'] = label_encoder.fit_transform(df['NAME_FAMILY_STATUS'])

print("Label Mapping for NAME_FAMILY_STATUS:")
label_mapping = dict(zip(label_encoder.classes_, range(len(label_encoder.classes_))))
print(label_mapping)

print("\nOriginal Column Values and Corresponding Encoded Values:")
print(df[['NAME_FAMILY_STATUS', 'NEW_FAMILY_STATUS']].drop_duplicates())

Label Mapping for NAME_FAMILY_STATUS:
{'Married': 0, 'Separated': 1, 'Single / not married': 2, 'Widow': 3}

Original Column Values and Corresponding Encoded Values:
           NAME_FAMILY_STATUS  NEW_FAMILY_STATUS
ID
5026168               Married                  0
5132804             Separated                  1
5053152                 Widow                  3
5149960  Single / not married                  2

In [ ]:
# Similarly, transform 'NAME_HOUSING_TYPE'
label_encoder = LabelEncoder()
df['NEW_HOUSING_TYPE'] = label_encoder.fit_transform(df['NAME_HOUSING_TYPE'])

print("Label Mapping for NAME_HOUSING_TYPE:")
label_mapping = dict(zip(label_encoder.classes_, range(len(label_encoder.classes_))))
print(label_mapping)

print("\nOriginal Column Values and Corresponding Encoded Values:")
print(df[['NAME_HOUSING_TYPE', 'NEW_HOUSING_TYPE']].drop_duplicates())

Label Mapping for NAME_HOUSING_TYPE:
{'Co-op apartment': 0, 'House / apartment': 1, 'Municipal apartment': 2, 'Office apartment': 3, 'Rented apartment': 4, 'With parents': 5}

Original Column Values and Corresponding Encoded Values:
           NAME_HOUSING_TYPE  NEW_HOUSING_TYPE
ID
5026168    House / apartment                 1
5087482     Rented apartment                 4
5096646  Municipal apartment                 2
5126749         With parents                 5
5010526     Office apartment                 3
5036250      Co-op apartment                 0

In [ ]:
print(df.info())
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
Index: 36116 entries, 5026168 to 5150337
Data columns (total 23 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   CODE_GENDER                      36116 non-null  int64
 1   FLAG_OWN_CAR                     36116 non-null  int64
 2   FLAG_OWN_REALTY                  36116 non-null  int64
 3   NUM_CHILDREN                     36116 non-null  int64
 4   AMT_INCOME_TOTAL                 36116 non-null  float64
 5   NAME_INCOME_TYPE                 36116 non-null  object
 6   NAME_EDUCATION_TYPE              36116 non-null  object
 7   NAME_FAMILY_STATUS               36116 non-null  object
 8   NAME_HOUSING_TYPE                36116 non-null  object
 9   Age                              36116 non-null  int64
 10  NUM_FAMILY_MEMBERS               36116 non-null  int64
 11  Employment Years                 36116 non-null  float64
 12  Average Status in Initial Phase  36116 non-null  float64
 13  Average Status in Current Phase  36116 non-null  float64
 14  Risky Customers                  36116 non-null  int64
 15  Client Classification            36116 non-null  int64
 16  FLAG_WORK_PHONE                  36116 non-null  int64
 17  FLAG_PHONE                       36116 non-null  int64
 18  FLAG_EMAIL                       36116 non-null  int64
 19  NEW_INCOME_TYPE                  36116 non-null  int64
 20  NEW_EDUCATION_TYPE               36116 non-null  int64
 21  NEW_FAMILY_STATUS                36116 non-null  int64
 22  NEW_HOUSING_TYPE                 36116 non-null  int64
dtypes: float64(4), int64(15), object(4)
memory usage: 6.6+ MB
None
        CODE_GENDER  FLAG_OWN_CAR  FLAG_OWN_REALTY  NUM_CHILDREN  \
count  36116.000000  36116.000000     36116.000000  36116.000000
mean       0.329743      0.380275         0.671780      0.429366
std        0.470126      0.485461         0.469572      0.728883
min        0.000000      0.000000         0.000000      0.000000
25%        0.000000      0.000000         0.000000      0.000000
50%        0.000000      0.000000         1.000000      0.000000
75%        1.000000      1.000000         1.000000      1.000000
max        1.000000      1.000000         1.000000      7.000000

       AMT_INCOME_TOTAL           Age  NUM_FAMILY_MEMBERS  Employment Years  \
count      3.611600e+04  36116.000000        36116.000000      36116.000000
mean       1.868704e+05     43.789235            2.197862          7.161712
std        1.018642e+05     11.515360            0.899676          5.893794
min        2.700000e+04     21.000000            1.000000          0.000000
25%        1.215000e+05     34.000000            2.000000          3.200000
50%        1.575000e+05     43.000000            2.000000          6.700000
75%        2.250000e+05     53.000000            3.000000          8.600000
max        1.575000e+06     69.000000            7.000000         43.000000

       Average Status in Initial Phase  Average Status in Current Phase  \
count                     36116.000000                     36116.000000
mean                          0.021064                         0.024935
std                           0.134902                         0.213836
min                           0.000000                         0.000000
25%                           0.000000                         0.000000
50%                           0.000000                         0.000000
75%                           0.000000                         0.000000
max                           4.444444                         5.000000

       Risky Customers  Client Classification  FLAG_WORK_PHONE    FLAG_PHONE  \
count     36116.000000           36116.000000     36116.000000  36116.000000
mean          0.045991               0.149823         0.225689      0.295077
std           0.209468               0.356903         0.418041      0.456084
min           0.000000               0.000000         0.000000      0.000000
25%           0.000000               0.000000         0.000000      0.000000
50%           0.000000               0.000000         0.000000      0.000000
75%           0.000000               0.000000         0.000000      1.000000
max           1.000000               1.000000         1.000000      1.000000

         FLAG_EMAIL  NEW_INCOME_TYPE  NEW_EDUCATION_TYPE  NEW_FAMILY_STATUS  \
count  36116.000000     36116.000000        36116.000000       36116.000000
mean       0.089600         2.397303            3.096633           0.447558
std        0.285612         1.734216            1.341473           0.873593
min        0.000000         0.000000            0.000000           0.000000
25%        0.000000         1.000000            1.000000           0.000000
50%        0.000000         4.000000            4.000000           0.000000
75%        0.000000         4.000000            4.000000           0.000000
max        1.000000         4.000000            4.000000           3.000000

       NEW_HOUSING_TYPE
count      36116.000000
mean           1.280928
std            0.947956
min            0.000000
25%            1.000000
50%            1.000000
75%            1.000000
max            5.000000

In [ ]:
# Drop the original columns
df = df.drop(columns=['NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE'])
print(df.columns)

Index(['CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'NUM_CHILDREN',
       'AMT_INCOME_TOTAL', 'Age', 'NUM_FAMILY_MEMBERS', 'Employment Years',
       'Average Status in Initial Phase', 'Average Status in Current Phase',
       'Risky Customers', 'Client Classification', 'FLAG_WORK_PHONE',
       'FLAG_PHONE', 'FLAG_EMAIL', 'NEW_INCOME_TYPE', 'NEW_EDUCATION_TYPE',
       'NEW_FAMILY_STATUS', 'NEW_HOUSING_TYPE'],
      dtype='object')

In [ ]:
# Export df
df.to_excel("/content/drive/MyDrive/MIS561/1208_ML1.xlsx", index=False, header=True)
print("DataFrame successfully exported to /content/drive/MyDrive/MIS561/1208_ML1.xlsx")

DataFrame successfully exported to /content/drive/MyDrive/MIS561/1208_ML1.xlsx

In [ ]:
# For checking
df.to_excel("/content/drive/MyDrive/MIS561/1208_ML1.xlsx", index=False, header=True)
print(df.head())

         CODE_GENDER  FLAG_OWN_CAR  FLAG_OWN_REALTY  NUM_CHILDREN  \
ID
5026168            1             1                1             0
5035920            0             1                1             1
5041710            1             1                1             3
5045517            1             1                0             1
5095015            0             0                1             0

         AMT_INCOME_TOTAL  Age  NUM_FAMILY_MEMBERS  Employment Years  \
ID
5026168          225000.0   66                   2               6.7
5035920          180000.0   42                   3               1.9
5041710          180000.0   39                   5               2.3
5045517          180000.0   32                   3              12.3
5095015          225000.0   36                   2               1.8

         Average Status in Initial Phase  Average Status in Current Phase  \
ID
5026168                              0.0                              0.0
5035920                              0.0                              0.0
5041710                              0.0                              0.0
5045517                              0.0                              0.0
5095015                              0.0                              0.0

         Risky Customers  Client Classification  FLAG_WORK_PHONE  FLAG_PHONE  \
ID
5026168                0                      0                0           0
5035920                0                      0                0           0
5041710                0                      0                1           1
5045517                0                      0                0           0
5095015                0                      0                0           0

         FLAG_EMAIL  NEW_INCOME_TYPE  NEW_EDUCATION_TYPE  NEW_FAMILY_STATUS  \
ID
5026168           0                1                   1                  0
5035920           0                0                   2                  0
5041710           0                4                   4                  0
5045517           0                4                   4                  0
5095015           0                0                   4                  0

         NEW_HOUSING_TYPE
ID
5026168                 1
5035920                 1
5041710                 1
5045517                 1
5095015                 1